/* ## Column Fluid */
.one-half, .one-third, .two-third, .one-fourth, .three-fourth {padding-bottom:10px; float:left;}
.one-half {width:49%; padding-right:2%;} .one-half.last {float:right; padding-right:0;}
.one-third {width:32%; padding-right:2%;} .one-third.last {float:right; padding-right:0;}
.two-third {width:66%; padding-right:2%;} .two-third.last {float:right; padding-right:0;}
.one-fourth {width:23.5%; padding-right:2%;} .one-fourth.last {float:right; padding-right:0;}
.three-fourth {width:74.5%; padding-right:2%;} .three-fourth.last {float:right; padding-right:0;}
.one-half+.one-half, .one-third+.two-third, .two-third+.one-third, .one-third+.one-third+.one-third, 
.one-fourth+.one-fourth+.one-half, .one-fourth+.one-half+.one-fourth, .one-half+.one-fourth+.one-fourth, 
.one-fourth+.three-fourth, .three-fourth+.one-fourth, .one-fourth+.one-fourth+.one-fourth+.one-fourth {float:right; padding-right:0%;} 
.one-half.fleft {padding-right:2%;} .one-half.fright {padding-right:0%;} .col-full, .full-col {width:100%; float:left; padding-bottom:10px;}
.ie7 .one-half {width:48.5%;} .ie7 .one-third {width:31.5%;} .ie7 .two-third {width:65.5%;} .ie7 .one-fourth {width:23%;} .ie7 .three-fourth {width:74%;}

@media (max-width:767px) { 
	.one-half, .one-fourth, .three-fourth {width:49%; padding-right:2%;} .one-fourth+.one-fourth {padding-right:0;} 
	.one-third, .two-third {width:100%; padding-right:0;} }
@media (max-width: 599px) { 
	.one-half, .one-third, .two-third, .one-fourth, .three-fourth {width:100%; padding-right:0%;} }
.survey *{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.survey input,.survey textarea{width: 100%; padding: 10px;}
.survey textarea{min-height: 145px;}
.survey label, .survey .label{font-size: 15px; margin-bottom: 5px;display: block;font-weight: bold;}
.survey input[type="radio"]{width: auto;}.survey input[type="radio"]+label{display: inline-block; margin-right: 12px; font-size: 14px; font-weight: normal;}
.survey input.x-small{max-width: 150px;}
.survey .condition{max-height: 0; overflow: hidden; transition: all ease-in-out 300ms;}
.survey .condition.open{max-height:1000px;}
.survey{
	margin-top: 20px; 
	width: calc(100% - 20px);
}
.survey h1,.survey h2,.survey h3,.survey h4{
	margin: 0;
	padding: 8px 12px;
}
.survey .sc-title{
	width: 100%;
	 display: block;
	 margin-bottom: 8px;
	 font-size: 18px;
	 padding-left: 0;
}
.survey .survey-aside{
	margin-top: 26px;
}

.survey .control:not(:last-child){margin-bottom: 10px;width: 100%;display: block;}
.survey .control.no-control{margin-top: -8px;}.survey .control.no-control input{width: 99%;}
.survey .sv-title{ border-bottom: 1px solid rgb(238, 238, 238); padding: 15px 10px 12px; line-height: 28px; }
.survey .question-lists{padding: 0 40px;}
.survey .question-lists li{border:1px solid #eee; padding: 0 0 0;}
.survey .question-lists li .question-title,.survey .answer-list li .answer-title{border-bottom: 1px solid #eee;}
.survey .question-lists li.collapse .question-title{margin-bottom: 10px;}
.survey .question-lists li .q-textbox{width: 100%;}
.survey .question-lists li .q-inside{padding: 0 15px;}

.survey{overflow: hidden;}
.survey .question-lists li .actions{border-top: 1px solid #eee; padding: 12px 10px 10px; margin-top: 10px;}

#questions .question{background: #fff;}
#questions .question.collapse.ui-sortable-helper{max-height: 37px !important;}
#questions .question.collapse.ui-sortable-helper .q-section{max-height: 0 !important; transition: all ease-in-out 40ms;}

.answer-list .answer{background: #fff;}
.answer-list .answer.collapse.ui-sortable-helper{max-height: 37px !important;}
.answer-list .answer.collapse.ui-sortable-helper .answer-inside{max-height: 0 !important; transition: all ease-in-out 40ms;}

#questions .question .q-section{ max-height: 0; overflow: hidden; transition: all ease-in-out 400ms;}
#questions .question.collapse .q-section{max-height: 1000px;}
#questions .button-group{font-size: 14px;}
#questions .question-head{position: relative; background: #fff;}
#questions .question-head .button-group{position: absolute; right: 10px; top: 4px;}
.ui-state-highlight{background: #fff; border:  1px dashed #000; display: block; height: 37px; width: 100%;}
#questions input.error{border: 1px solid red;}

.answer-list{padding: 0 20px;}
.answer-list .answer{position: relative;}
.answer-list .answer-head .button-group{position: absolute; right: 10px; top: 4px;}
.answer-list .answer-inside .form-control{display: inline-block; width: 79.5%;}
.answer-list .answer-inside .form-control+.form-control{width:20%;}

.answer-list .answer .answer-inside{max-height: 0; overflow: hidden; transition:all ease-in-out 300ms;}
.answer-list .answer.collapse .answer-inside{max-height: 1000px;}
.answer-list .answer-action,.answer-list+.answer-action{margin: 10px 5px;}
.answer-list .button-group .answer-action{margin: 0;}